<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <h2>Projects</h2>
        {% if projects %}
        <ul>
            {% for project in projects %}
            <li><a href="{{ base_url }}/project/{{ project['name'] }}">{{ project['name'] }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No project</p>
        {% endif %}
    </body>
</html>
